*{
    margin: 0;
    font-family: Regular,sans-serif;
}

#root{
    width: 100%;
}



::-webkit-scrollbar {
    width: 15px;
  }


::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid #ffffff;
    background: #c4c4c4
  }

.d-flex{
  display: flex;
}

.container{
  display: flex;
  width: 1600px;
  margin: auto;
  padding: 0 30px;
}

.container-with-text{
  max-width: 1280px;
  margin: auto;
  padding:  0 30px;
}


.column{
  flex-direction: column;
}


@media (max-width: 1000px) {
  .container{
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .container{
    width: 100%;
  }
  .container-with-text{
    width: 100%;
    padding: 0 15px;
  }
}