.privacy{
    margin-top: 100px;
}

.privacy a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 24px;
}

.privacy p{
    font-size: 16px;
    line-height: 30px;
    color: rgba(29,29,29,.5);
    margin: 15px 0;
}

.privacy h2{
    margin: 30px 0;

    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}