.home-slider{
  width: 67vw;
  margin: auto;
  height: inherit;
  overflow: visible;
}

.home-slider .swiper-slide div img{
  width: 100%;
  border-radius: 8px;
}

.home-slider .swiper-slide.swiper-slide-duplicate, .home-slider .swiper-slide.swiper-slide-next, .home-slider .swiper-slide.swiper-slide-prev {
  transform: scale(.95,.9);
}

.home-slider .swiper-slide-active {
  filter: brightness(1)!important;
  transform: scale(1)!important;
}