footer {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  background-color: white;

  flex-direction: column;
}

.icons {
  margin: 20px 0 50px 0;
  width: 100%;
  cursor: pointer;
  display: flex;
}

.icons img {
  margin: 0 40px 0 0;
}

@media (max-width: 520px) {
  .poll {
    flex-direction: column;
  }
  .left-block {
    flex-direction: column;
    min-width: 0;
  }
  .right-block {
    min-width: 0;
  }
}
