.basket-page-left-cont {
  width: 63%;
  height: 100%;
}

.left-block-title {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
}

.left-block-title h1 {
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #e30613;
  height: 32px;
  cursor: pointer;
  font-family: Bold;
}

@media (max-width: 1000px) {
  .basket-page-left-cont {
    width: 100%;
  }
}
