.card-recommendation{
    box-shadow: rgba(140, 140, 140, 0.15) -1px 1px 16px 0px;
    height: 183px;
    border-radius: 8px;
    padding: 20px;
}

.card-recommendation-top-cont{
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-recommendation-title{
    height: 100%;
    width: 217px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-recommendation-title h1{
    font-size: 16px;
    line-height: 24px;
}
.card-recommendation-title h2{
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    z-index: 1;
    color: rgba(29,29,29,.5);
}

.card-recommendation-bottom-cont{
    width: 100%;
    height: 48px;
    margin-top: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;


}

.card-recommendation-price{
    font-size: 18px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.card-recommendation-img {
    width: 114px;
    height: 90px;
}


.card-product-basket-img-cont{
    width: 90px;
    height: 90px;
    border-radius: 8px;
}


