.pageByIdTovar {
  display: flex;
}

.container-product-view {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}

.pageByIdProduct-swiper .swiper-slide {
  width: 24.1%;
  height: 100%;
}
.pageByIdProduct-swiper .card-product {
  width: 100%;
}
