
.contacts{
    margin: 30px 0;
}
.contacts-content{
    margin-left: 24px;
}

.contacts-content p{
    padding-top: 5px;
    cursor: help;
    color: rgba(29,29,29,.5);
    line-height: 24px;
    font-size: 16px;
}

.sub-title{
    margin-top: 30px;
    line-height: 24px;
    font-size: 16px;
    font-family: Bold;
}

.email-input, .birth-date-section input, .photo-section input{
    margin: 30px 0;

}

.photo-section{
    margin: 30px 0;
}


.photo-section button{
    margin-left: 24px;

    height: 48px;

    text-align: center;

    width: max-content;
    min-width: max-content;

    background-color: white;

    padding: 0 16px;
    border-radius: 8px;

    padding-top: 9px!important;
    padding-bottom: 10.5px!important;
    transition: all .3s ease;

    font-weight: 700;

    border: 1px solid #dbdddd;
}

.birth-date-section{
    position: relative;
}

.pick-birth{
    height: 56px;
    width: 100%;
    border-radius: 8px;
    padding: 5px 14px;
    cursor: pointer;
    position: relative;
    max-width: 600px;
    margin: 30px 0;
}

.pick-birth .comps{
    width: 100%;
}

.pick-birth:hover{
    outline: rgba(0, 0, 0, 0.658) solid 2px;
    border-color: rgba(0, 0, 0, 0.658);
}

.placeholder{
    color: rgba(29,29,29,.5);
    margin: 15px 0;
}

.borederd{
    border: 1px solid #dbdddd;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
}