
.contacts{
    margin: 30px 0;
}
.contacts-content{
    margin-left: 24px;
}

.contacts-content p{
    padding-top: 5px;
    cursor: help;
    color: rgba(29,29,29,.5);
    line-height: 24px;
    font-size: 16px;
}

.sub-title{
    margin-top: 30px;
    line-height: 24px;
    font-size: 16px;
    font-family: Bold;
}

.email-input, .birth-date-section input, .photo-section input{
    margin: 30px 0;

}

.photo-section{
    margin: 30px 0;
}


.photo-section button{
    margin-left: 24px;

    height: 48px;

    text-align: center;

    width: max-content;
    min-width: max-content;

    background-color: white;

    padding: 0 16px;
    border-radius: 8px;

    padding-top: 9px!important;
    padding-bottom: 10.5px!important;
    transition: all .3s ease;

    font-family: Bold;

    border: 1px solid #dbdddd;
}



.birth-date-section{
    position: relative;
}

.pick-birth{
    height: 56px;
    width: 100%;
    border-radius: 8px;
    padding: 5px 14px;
    cursor: pointer;
    position: relative;
    max-width: 600px;
    margin: 30px 0;

}

.pick-birth .comps{
    width: 100%;

    border: 0;
    background-color: white;
}

.pick-birth:hover{
    outline: rgba(0, 0, 0, 0.658) solid 2px;
    border-color: rgba(0, 0, 0, 0.658);
}


.menu-content{
    background: white;
    box-shadow: 8px 8px 16px hsla(236,6%,49%,.15);
    border-radius: 8px;
    flex: 3;
    padding: 36px;
    margin: 30px 0 0!important;
    min-height: calc(100vh - 162px)
}

.MuiDialog-paper {
    padding: 32px 24px 24px;
    overflow: visible;
    max-width: 484px;
}


.custom-modal .title{
    font-size: 24px;
    line-height: 34px;
    color: #202228;
    margin-bottom: 24px;
    font-family: Bold;

}

.custom-modal .description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(29,29,29,.5);

    text-align: center;
}

.custom-modal img{
    position: absolute;
    top: 0;
    right: -40px;
    width: 15px;
    height: 15px;
}

.birth-warn{
    font-size: 10px;
    line-height: 24px;
    color: rgba(29,29,29,.5);
    margin: 10px 0;
}
.birth-warn img{
    margin-right: 10px;
}

.placeholder{
    color: rgba(29,29,29,.5);
    margin: 15px 0;
}

.borederd{
    border: 1px solid #dbdddd;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
}

