* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.home{
  display: flex;
  justify-content: center;
}

.down-header{
  display: flex;
  }

.page-title{
  width: 1600px;
  margin: auto;
  padding: 30px 30px;
  line-height: 44px;
  font-size: 32px;
  font-weight: bold;
}