@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{

    text-align: center;
}
body{
    background-color: white;
    color: black
}
.top-header{
    display: flex;

}

.top-container{
    margin: auto;
    width: 1600px;
    height: 81px;
    background-color:white;

    display: flex;
    justify-content: space-between;

    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

}

.main-logo{
    width: 17%;
    height: 51px;

}

.left-cont{
    display: flex;
    justify-content: space-between;
    width: 17%;
    height: 30px;
    margin-left: 2.5%;

}

.city{
    width: 25%;
    line-height: 29px;

}
.language{
    width: 24%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.language span{
    margin-right:3px ;

}

.number{
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.right-cont{
    width: 17.7%;
    height: 30px;
    margin-right: 2.5%;


    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 30px;

}

.login{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 30px;

}

.login img{
    margin-right: 20px;
}

.basket{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 30px;


}

.line{
    margin: auto;
    width: 1520px;
    height: 1px;
    background-color: rgba(169, 169, 169, 0.436);
}

.down-header{
display: flex;
}
.navbar-cont{
    width: 1600px;

    height: 30px;
    margin: auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.link{
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin: 0 2.5%;
    height: 20px;

    text-decoration: none solid rgb(123, 124, 133);
    color:#7B7C85;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.linkact{
    color: red;
}