.left-cont {
  display: flex;
  justify-content: space-between;
  width: 18%;
  height: 30px;


  min-width: 225px;
}

.city {
  width: 60px;
  line-height: 29px;

  cursor: pointer;

  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px black dashed;
}
.language {
  width: 60px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

.language:hover {
  background-color: rgba(0, 0, 0, 0.046);
}

.language span {
  margin-right: 3px;
  text-transform: uppercase;
  font-family: SemiBold;
  font-size: 14px;
}

.language-presentation {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.language-presentation p {
  font-family: SemiBold;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  white-space: nowrap;
  padding-bottom: 6px;
  height: 36px;
  width: 51px;

  cursor: pointer;
}

.language-presentation p:hover {
  background-color: rgba(0, 0, 0, 0.046);
}

.curent {
  color: red;
}

.number {
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.number a {
  font-weight: SemiBold;
  text-decoration: none;
  color: #1d1d1d;
}
