.back {
  line-height: 30px;
  display: flex;
  margin: 30px 0;
  font-size: 32px;
  font-weight: bold;
  align-items: center;
}

.back span {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.back strong {
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
  text-transform: uppercase;
}
