.footer-down-block {
  display: flex;
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}

.down-block {
  margin: 30px 0 100px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.left-block {
  display: flex;
  line-height: 21px;
  min-width: 380px;
  justify-content: space-between;
  cursor: pointer;
}
.right-block {
  display: flex;
  min-width: 275px;
  justify-content: space-between;
  line-height: 21px;
}

.left-block img {
  display: flex;
  width: 90px;
  height: 23px;
}

.left-block h1 {
  font-size: 14px;
  font-family: sans-serif;
  color: #7b7c85;
  font-weight: 300;
  margin: 0;
}

.right-block {
  cursor: pointer;
}

.right-block h1 {
  font-size: 14px;
  font-family: sans-serif;
  color: #7b7c85;
  font-weight: 300;
  margin: 0;
}
.right-block span {
  font-size: 14px;
  font-family: sans-serif;
  color: black;
  font-weight: 300;
}
