.card-product-basket{
    width: 100%;
    height: 132px;
    border-radius: 8px;
    box-shadow: rgba(117, 118, 132, 0.15) 8px 8px 16px 0px;
    margin: 30px 0;
    padding: 24px;

}

.card-product-basket-container{

    display: flex;
    justify-content: space-between;
}

.card-product-basket-left-cont{

    display: flex;
    align-items: center;
}

.card-product-basket-img-cont {
    display: flex;
    align-items: center;

    width: 110px;
    height: 90px;
}

.card-product-basket-img-cont img{
    width: 100%;
}

.card-product-basket-info-cont{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 60px;
}
.card-product-basket-info-cont a{
    text-decoration: none;
    color: #000000;

    font-family: Bold;
}

.card-product-basket-info-cont h1{
    font-size: 16px;
    line-height: 24px;

    font-family: Bold;
}

.card-product-basket-right-cont{
    display: flex;
    align-items: center;
    width: 35%;
    min-width: 260px;
    justify-content: space-between;
}
.card-product-basket-add-delete-button-cont{
    display: flex;
    align-items: center;
    height: 48px;
    border:1px solid #DBDDDD;
    border-radius: 8px;
}

.remove,.add{
    cursor: pointer;
}


.card-product-basket-price-cont{
    display: flex;
    flex-direction: column;
}


strong{
    font-family: Bold;
}

.action-basket span{
    display: flex;

    font-size: 14px;
    text-decoration: line-through;
    color: rgba(29,29,29,.5);

  }
  .action-basket{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: start;
    color: red;
    font-family: Bold;
  }

.card-product-basket-delete-button-cont{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #DBDDDD;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 8px;
}

.card-product-basket-delete-button-cont:hover{
    background-color: #000000;
    border:2px solid transparent;
}

.card-product-basket-delete-button-cont:hover svg path{
    fill:white;
}


@media (max-width: 800px) {
    .card-product-basket{

        display: inherit;
        height: inherit;
    }
    .card-product-basket-container{
        display: block;
    }
    .card-product-basket-right-cont{
        width: 100%;
    }
    .card-product-basket-left-cont{
        justify-content: center;
    }
}