.top-title {
  padding-bottom: 24px;
  font-family: Bold;
}

.sticky .menu .menu-item p {
  max-width: 300px;
  min-width: 300px;
}

@media (max-width: 575px) {
  .account-menu {
    display: none;
  }
}
