
.card-container{
    display: flex;
    flex-direction: column;

    width: 241px;
    height: 280px;
    margin-right: 20px;

    box-shadow: rgba(140, 140, 140, 0.15) -1px 1px 16px 0px;
    border-radius: 8px;
}

.card-consists-img img{
    width: 100%;
    height: inherit;
    border-radius: 8px 8px 0 0;
}

.price-consists{
    padding: 10px;
}
.name-consists{
    font-weight: bold;
    padding: 10px;
}

.name-consists a{
    text-decoration: none;
    color: black;
}

.description-consists{

    text-align: start;
    padding: 10px;
    color: #818181d1;
    width: 100%;
    height: 54px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 21px;
    font-size: 14px;
}
